### • Importar Pandas

In [1]:
import pandas as pd

### • Datos en un diccionario

In [2]:
datos = {"nombre": ["Pedro", "Juan", "Lorena"], "edad": [25, 39, 33]}

### • Dataframe

In [4]:
df = pd.DataFrame(datos)
df

   nombre  edad
0   Pedro    25
1    Juan    39
2  Lorena    33

### • Tipo de Dato (Dataframe)

In [5]:
type(df)

pandas.core.frame.DataFrame

### • Capturar Serie Nombre de Dataframe

#### 1. Indexación

In [6]:
df["nombre"]

0     Pedro
1      Juan
2    Lorena
Name: nombre, dtype: object

#### 2. Atributos

In [7]:
df.nombre

0     Pedro
1      Juan
2    Lorena
Name: nombre, dtype: object

### • Tipo de datos "df.nombre"

In [8]:
type(df.nombre)

pandas.core.series.Series